<div
  *ngIf="product"
  class="hover:bg-base-100 w-[64rem] h-full rounded-lg shadow-lg transition duration-500 bg-gradient-to-br from-fuchsia-500 via-red-300 to-sky-500 p-1 hover:cursor-pointer"
>
  <div
    class="h-full w-full items-center justify-center p-4 bg-base-200 hover:filter-glow flex"
  >
    <div class="">
      <label class="badge badge-accent flex mr-auto badge-outline">{{
        product.category
      }}</label>
      <div class="p-12">
        <img
          [src]="product.image"
          [alt]="product.title"
          class="object-contain hover:filter-glow"
        />
      </div>
    </div>

    <div class="flex flex-col h-full w-full">
      <h3
        class="text-white text-center group-hover:underline group-hover:underline-offset-4 items-end font-bold text-3xl"
      >
        {{ product.title }}
      </h3>
      <p class="max-w-[45ch] text-lg text-base-content mt-12 text-justify">
        {{ product.description }}
      </p>
      <p class="text-accent font-bold text-3xl h-fit mt-auto text-end">
        {{ product.price | currency }}
      </p>
      <p class="flex">
        <svg
          style="color: rgb(255, 221, 0)"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-star"
          viewBox="0 0 16 16"
        >
          <path
            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
            fill="#ffdd00"
          ></path>
        </svg>
        {{ " " }} {{ product.rating.rate }} ({{ product.rating.count }})
      </p>
      <button (click)="addToCart()" class="btn btn-secondary btn-outline">
        add to cart
      </button>
    </div>
  </div>
</div>
