<div
  class="hero min-h-screen bg-base-200 font-body"
  style="
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
  "
>
  <div
    class="hero-content flex-col lg:flex-col bg-black bg-opacity-20 backdrop-blur-[4px] rounded-3xl drop-shadow-lg"
  >
    <div>
      <h1 class="text-8xl font-bold text-center">
        <span
          class="bg-clip-text drop-shadow-[0_6.2px_1.9px_rgba(0,0,0,0.7)] text-transparent bg-gradient-to-r from-pink-400 to-sky-500 font-display"
          >Sign in</span
        >
      </h1>
      <p
        class="py-6 lg:w-1/2 mx-auto text-justify font-display text-lg/relaxed"
      >
        To view the content of this website, we need you to
        <span class="font-extrabold">login</span> first. We can reassure you
        that everything in this website is
        <span class="underline underline-offset-4">100% illegal</span>
        and we do not want any of the police to know about this.
      </p>
    </div>

    <div
      class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-300 bg-opacity-50"
    >
      <div class="card-body">
        <div *ngIf="errorMessage" class="alert alert-error">
          <div class="tooltip tooltip-error" data-tip="Close me">
            <button
              (click)="errorMessage = ''"
              class="btn btn-circle btn-sm btn-error"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <span> {{ errorMessage }} </span>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input
            type="text"
            placeholder="username"
            class="input input-bordered input-ghost"
            id="username"
            [(ngModel)]="username"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input input-bordered input-ghost"
            id="password"
            [(ngModel)]="password"
          />

          <label class="label">
            <a href="#" class="label-text-alt link link-hover"
              >Forgot password?</a
            >
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary btn-outline" (click)="login()">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
